.btn__width {
  display: flex;
  width: 155px;
  margin: 0 25px;
}

.btn__width span {
  display: flex;
  flex: 0 0 auto;
}

.home_category__wrapper {
  gap: 20px;
}

.home_category__link svg,
.home_category__sublink svg {
  width: 14px;
  height: 14px;
  object-fit: contain;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
}

.home_category__link,
.home_category__sublink,
.home_category__subsublink {
  gap: 10px;
}

.home_category__link.active svg,
.home_category__sublink.active svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.home_category__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home_category__subitem:first-child {
  padding: 20px 0 0;
}

.home_category__sublist,
.home_category__subsublist {
  display: flex;
  max-height: 0px;
  opacity: 0;
  flex-direction: column;
  -webkit-transition: max-height 0.3s linear, opacity 0.3s linear;
  transition: max-height 0.3s linear, opacity 0.3s linear;
  overflow: hidden;
}

.home_category__sublist  {
  gap: 20px;
}

.home_category__subsublist {
  gap: 10px;
}

.home_category__sublist.active,
.home_category__subsublist.active {
  max-height: 2000px;
  opacity: 1;
}

.home_category__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.home_category__link,
.home_category__sublink {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home_category__sublink {
  padding: 0 0 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.home_category__subsublink {
  padding: 0 0 0 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #858585;
}

.home_category__subsubitem:first-child {
  padding: 15px 0 0;
}

.catalog_category {
  background: none;
}

.home_category__sliders {
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home_category__sliders .home_category_item {
  width: 400px;
  height: 300px;
  margin: 0;
}

.home_category__sliders {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.home_category__flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.home_category__sliders_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.home_category__buttons {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 150px;
  z-index: 1;
  color: red;
}

.home_category__next.swiper-button-next,
.home_category__prev.swiper-button-prev {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 0px #00000012;
}

.home_category__next.swiper-button-next svg,
.home_category__prev.swiper-button-prev svg {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.home_category__prev svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.home_category__buttons .swiper-button-next:after,
.home_category__buttons .swiper-button-prev:after {
  display: none;
}

.home_category__buttons .swiper-button-next,
.home_category__buttons .swiper-rtl .swiper-button-prev {
  right: -18px;
  left: auto;
}

.home_category__buttons .swiper-button-prev,
.home_category__buttons .swiper-rtl .swiper-button-next {
  left: -18px;
  right: auto;
}

.home_category__buttons .swiper-button-next.swiper-button-disabled,
.home_category__buttons .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.home_category_item.swiper-slide {
  display: flex;
}

.home_category__sliders_head {
  font-size: 24px;
  font-weight: 900;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.home_category__sliders_link {
  padding: 0 0 2px;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #63A48D;
  border-bottom: 1px solid #63A48D;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.home_category__sliders_link:hover {
  color: #000;
}

.home_category__sliders_mini .home_category_item {
  width: 190px;
  height: 150px;
  padding: 15px;
}

.home_category__sliders_mini .home_category_item .name {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.home_category__sliders_mini .home_category__buttons {
  bottom: 75px;
}

.catalog_subsection {
  padding: 20px 0 40px;
  background: none;
}

.catalog_subsection__flex {
  display: flex;
  padding: 0 0 40px;
  margin: 0 0 40px;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #f0f0f8;
}

.catalog_subsection__flex h2 {
  margin-bottom: 0;
}

.catalog_subsection__flex p {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  color: #858585;
}

/* start breadcrumbs */

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
}

.breadcrumbs__item:not(:last-child):after {
  content: "|";
  margin: 0 10px;
  color: #bababf;
}

.breadcrumbs__item  {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/* end breadcrumbs */

@media screen and (max-width: 992px){ 
  .home_category__wrapper {
    gap: 50px;
  }
  .home_category__flex {
    width: 100%;
  }
  .home_category__link,
  .home_category__sublink {
    justify-content: space-between;
  }
  .btn__width {
    margin: 0;
  }
  .home_category__sliders .home_category_item {
    width: 233px;
    height: 195px;
    padding: 15px;
  }
  .home_category__buttons {
    display: none;
  }
  .home_category__flex {
    gap: 30px;
  }
  .home_category__sliders_head {
    font-size: 20px;
    line-height: 26px;
  }
}